<html>
<head>
  <link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>
  <h1>The Form Page - Chocolates are hidden here</h1>

  <form action="/twitter" method="POST">
    Fill out this form  
    <br>
    First Hash: <input type= "text" name = "first">
    <br>
    Second Hash: <input type="text" name="second">
    <input type="submit">
  </form>
  
</body>
</html>