<html>
<head>
  <link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>
  <header><h1>hello world of butter and rainbow mittens, <%= @name %></h1></header>
  <% if @show_description %>
  <p>This is the description</p>
  <% end %>
</body>
</html>